#search {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.y-chrome-ext-canvas {
	width: 200px;
}

.template {
	display: none;
}

.name {
	font-size: 20px;
	font-weight: bold;
	margin: 15px 0 5px 0;
}

.weather-icon {
	vertical-align: middle;
}

.temp {
	font-size: 30px;
	margin: 10px 0;
}

.popup-icon {
	position: absolute;
	top: 100px;
	right: 10px;
}

.settings {
	margin-top: 15px;
	padding-top: 10px;
}

.settings__icon {
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

.settings__link {
	text-decoration: none;
	color: #545454;
}

.settings__area {
	display: none;
	background: #EEE;
	padding: 5px 10px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.settings__units {
	padding: 5px;
	border: 1px solid #BEBEBE;
	margin-left: 10px;
	width: 75%;
}